<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss} %-5level %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- Suppress TestNG internal INFO logs -->
        <Logger name="org.testng" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Suppress RestAssured internal INFO logs if needed -->
        <Logger name="io.restassured" level="WARN" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>

    </Loggers>
</Configuration>
